<div id="nav" class="navbar">
	<h3 class="navbar-heading"><a>Lists</a></h3>
	<ul>
		<li><a>Today</a></li>
	</ul>
	<h3 class="navbar-heading"><a>Settings</a></h3>
	<h3 class="navbar-heading"><a>Logout</a></h3>
</div>